<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create Password</title>
  </head>
  <body>
    <h1>Create Password</h1>
    <% if (errorMessage) { %>
    <p><%= errorMessage %></p>
    <% } %>
    <form method="POST" action="/api/npos/createpassword/<%= id %>">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <label for="confirm-password">Confirm Password:</label>
      <input
        type="password"
        id="confirm-password"
        name="confirmPassword"
        required
      />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
