<!DOCTYPE html>
<html>

    <head>
        <title>Password Set</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                margin-top: 100px;
            }

            h1 {
                font-size: 24px;
                margin-bottom: 20px;
                color: gray;
                font-weight: 500;
            }

            .button {
                display: inline-block;
                background-color: #007bff;
                color: #fff;
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s;
            }

            .button:hover {
                background-color: #0056b3;
            }

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 60vh;
                width: 80%;
                margin: auto;
            }
        </style>
    </head>

    <body>
        <div class='container'>

            <h1><%= message %></h1>

        </div>
    </body>

</html>